body {
    background-color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: 85%, 10%;
    grid-template-rows: 1fr .5fr 1fr;
    background-color: #140A25;
}

canvas {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    position: relative;
}

button {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #400D2A;
    width: 75%;
    height: 75%;
    margin: 20% 0 0 20%;
    padding-right: 5%;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 115%;
    letter-spacing: 1.5px;
    outline: none;   
}  

button:hover {
    background-color: #DB2B30;
} 


@media only screen and (min-width: 460px) and (max-width: 600px) {
    button {
        font-size: 130%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
    button {
        font-size: 150%;
    }
}

@media only screen and (min-width: 768px) {
    button {
        font-size: 175%;
    }
}

@media only screen and (min-width: 950px) {
    button {
        font-size: 190%;
    }
}
